/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/app/*
/storage/framework/*
/storage/logs/*
/storage/app/.gitignore
/storage/app/private/.gitignore
/storage/app/public/.gitignore
/storage/framework/.gitignore
/storage/framework/cache/.gitignore
/storage/framework/cache/data/.gitignore
/storage/framework/sessions/.gitignore
/storage/framework/testing/.gitignore
/storage/framework/views/.gitignore
/storage/pail
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
/vendor
/_import_tmp
/database/database.sqlite
/.codex-logs
/PsySH
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
